<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>displayPicture</servlet-name>
        <servlet-class>ServletFiles.displayPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayPic</servlet-name>
        <servlet-class>ServletFiles.displayPic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>ServletFiles.EmailSendingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayPicture</servlet-name>
        <url-pattern>/displayPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayPic</servlet-name>
        <url-pattern>/displayPic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>agbe_terseer@yahoo.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>flints</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
